*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
  --main-color: #284b63;
  --seconde-color: #598392;
  --white-color:#d9d9d9;
  --black-color:#000000;
  --shadow-color: rgba(0, 0, 0, 0.5);
  --shadow-lite-color:rgba(0, 0, 0, 0.2);
}
header {
    width: 100vw;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}
nav{
    width: 85%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links{
    display: flex;
    align-items: center;
    gap: 5rem;
}
.logo {
    font-size: 1.5rem;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--seconde-color)
}
.logo span{
  color: var(--main-color);
}
header nav ul {
    display: flex;
    gap: 3rem;
    list-style: none;
}
 
header nav a {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #333;
    text-decoration: none;
}
header nav a:hover {
    color: var(--seconde-color);
}
header .btn {
  width: 120px;
    background-color:  var(--seconde-color);
    color: #fff;
    border: none;
    padding:0.8em;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}
header .btn:hover {
    background-color: var(--main-color);
    color: #fff;
    transform: scale(1.05);
}
button, a {
  transition: all 0.3s ease;
}
.hero {
    height:88vh;
    width: 100vw;
    background-image: url("./images/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}
 .main{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  gap:0.5rem;
  padding: 0 3rem;
  text-align: center;
}
.main h1{
  font-size: 2.8rem;
  text-transform: uppercase;
  padding: 1rem 3rem;
  color: #fff;
}
.main p{
  font-size: 1.8rem;
  color: var(--white-color);
  padding: 1rem 3rem;
}

.button{
  background-color:var(--seconde-color);
  color: var(--white-color);
  font-weight: 600;
  border: none;
  width: 200px;
  padding: 0.8rem;
  margin-left: 3rem;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 2rem;
}
.button:hover{
  background-color: var(--main-color);
  transform: scale(1.05);
}  

.Popular-blogs, #title{
  width: 85%;
  margin:3rem auto;
  padding:2rem 1rem;
  text-align: center;
}
.blogs-container{
  width: 100%;
  display: flex;
  align-items: center;
}
.blogs-container .icon{
  font-size: 3rem;
  color: var(--main-color);
  cursor: pointer;
}
.Popular-blogs h2{
  font-size: 3rem;
  color: #333;
  margin-bottom:  3rem;
  text-transform: uppercase;
}
.blogs{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 2rem 0;
  align-items: center;
  padding-bottom: 1rem;
}
/* .article{
  width: 100%;
  background: #fff;
  border-radius: 4px;
  width:30%;
  box-shadow: 0 5px 5px var(--shadow-lite-color);
  transition: all 0.3s ease;
} */
.blogs  .blog-card {
  background: #fff;
  border-radius: 4px;
  width:30%;
  box-shadow: 0 5px 5px var(--shadow-lite-color);
  transition: all 0.3s ease;
}
.blogs .blog-card:hover{
  transform: translateY(2px);
  box-shadow: 0 5px 5px var(--shadow-color);
}

.blogs  .blog-card .blog-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.blogs  .blog-card .blog-content {
  padding: 15px;
}

.blogs  .blog-card .blog-content .blog-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  text-align: center;
}

/* Sign up form--------------------------*/
.account-form {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 20px 100vw rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 2rem 3rem;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.account-form .titleForm h1{
  font-size: 2.5rem;

  color:var(--main-color);
}

.account-form .title p{
  color: #777;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.error{
  color: var(--seconde-color) !important;
}


.input-container input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  font-size: 0.8rem;
}

.input-container input:focus {
  border: 2px solid var(--seconde-color);
}

.btn {
  background-color: var(--seconde-color);
  color: #fff;
  border: none;
  padding: 0.7rem;
  width: 100%;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--main-color);
}

.link{
  margin: 0.5rem 0;
  font-size: 0.9rem;
  color: var(--main-color);
}

.link a{
  color: var(--seconde-color);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
}

.link:hover {
  text-decoration: underline;
}

/* ______________________________________________________________________________ */
.post-container {
  width: 80%;
  margin: 30px auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 3rem;
}

.post-header {
  position: relative;
}

.post-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.post-title {
  font-size: 2.5rem;
  margin-top: 15px;
  color: var(--main-color);
  text-align: center;
  font-weight: bold;
}

.post-desc {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 1rem;
  color: #777;
  margin-top: 10px;
  text-align: center;
}

.author, .date {
  font-style: italic;
}

.post-body {
  margin-top: 20px;
}

.post-text {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #555;
}

.post-footer {
  margin-top: 20px;
  text-align: center;
}

.like_comt {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  font-size: 1.2rem;
  color: var(--main-color);
}

.like_comt span {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color 0.3s;
}

.like_comt span:hover {
  color: var(--seconde-color);
}

.like_comt .like-icon i,
.slike_comt .comment-icon i {
  margin-right: 0px;
}

.comments {
  margin-top: 30px;
  color:#333;
}
/* _______________________________ Start Dashboard ____________________________________*/
.sidebarIcon{
  font-size: 1rem;
  color: var(--main-color);
  margin-right: 0.5rem;

}

.dashboardTitle{
  text-align: center;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 900;
  position: absolute;
  top: 3rem;
  left: 1rem;
}
.container{
  display: flex;
}
.sidebar {
  width: 15%;
  background-color: var(--main-color);
  color: #fff;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.buttons{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 2.5rem;
}
.statistique{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 2rem;
}
.stat{
  width:30%;
  height: 180px;
  background-color: #e0e1dd;
}

.PostBtn {
  width: 180px;
  height: 50px;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 4px;
  background-color: var(--white-color);
  color: var(--main-color);
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  justify-content: left;
  align-items: center;
}
.PostBtn:hover{
  background: #fff;
  color: var(--main-color);
}
.content-container{
  width: 80%;
  margin: 0 auto;
}
.content{
  width: 100%;
  height: calc(100vh - 220px);  
}
.user{
  color: var(--seconde-color);
}
.showArticles{
  display: block !important;
}
.tableTitle {
  margin: 2.5rem 0;
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--main-color);
}

table {
  width: 100%;
  box-shadow: 0 0 5px var(--shadow-lite-color);
}
th {
  background-color: #f2f2f2;
  color: var(--main-color);
}
th, td {
  padding: 0.8rem;
  text-align: center;
  border-bottom: 2px solid #ddd;
  border-left: 2px solid #ddd;
}
.btns{
  display: flex;
  justify-content: center;
  gap: 15px;
}
.btnTable{
  width: 70px;
  padding: 0.4rem;
  border: none;
  border-radius: 4px;
  background-color: var(--seconde-color);
  color: #f2f2f2;
  font-size: 1rem;
  text-decoration: dashed;
  cursor: pointer;
}
.btnTable:hover{
  background-color: var(--main-color);
}
.close{
  font-size: 1.5rem !important;
  color: var(--main-color);
  cursor: pointer;
}
.close:hover{
  color: var(--seconde-color);
}
.formContainer {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 20px 100vw rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.formTitle{
  color: var(--main-color);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
}
input:focus,textarea:focus {
  border: 2px solid var(--seconde-color);
}
select {
  cursor: pointer;
}

.addBtn {
  width: 140px;
  padding: 0.7rem 1rem;
  background-color: var(--main-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.addBtn:hover {
  background-color: var(--seconde-color)
}
/*_________________________________ End Dashboard _____________________________*/

/* -_____________________________ start footer ______________________________*/

footer {
  background-color: #2b2b2b;
  color: #fff;
  padding: 2rem;
  width: 100vw;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.footer-left {
  width: 30%;
}
.footer-middle {
  width: 30%;
}
.footer-right {
  width: 30%;
}

.footer-left h2 {
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.footer-left .title {
  color: var(--seconde-color);
}

.footer-left p {
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
}

.footer-left .contact-info {
  font-size: 0.9rem;
}

.social-icons a {
  color: #fff;
  font-size: 1rem;
  margin-right: 10px;
  text-decoration: none;
}

.social-icons a:hover {
  color: var(--seconde-color);
}

.footer-middle h3 {
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.footer-middle ul li {
  margin-bottom: 1rem;
  list-style: none;
}

.footer-middle ul li a {
  color: #bbb;
  text-decoration: none;
}

.footer-middle ul li a:hover {
  color: var(--seconde-color);
}

.footer-right h3 {
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.footer-right form input,
.footer-right form textarea {
  width: 100%;
  margin-bottom: 1rem;
  padding:0.8rem;
  border: none;
  border-radius: 2px;
  background-color: #333;
  color: #fff;
}

.footer-right form input {
  height:2rem;
}

.footer-right form button {
  width: 100px;
  background-color: var(--seconde-color);
  color: #fff;
  border: none;
  padding: 0.5rem;
  border-radius: 2px;
  cursor: pointer;
}

/*__________________________ end footer _______________________________ */
